<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p id="notice"><%= notice %></p>

      <p><strong>Title:</strong></p><p><%= @blog.title %></p>
      <p><strong>Content:</strong></p><p><%= @blog.content %></p>

      <%= link_to 'Edit', edit_blog_path(@blog) %> |
      <%= link_to 'Back', blogs_path %>
    </div>
  </div>
</div>
